<!--footer-->
<div class="footer">
	<div class="container">
		<div class="col-md-3 footer-grid">
			<h3>Acerca de Nosotros</h3>
			<p>Nam libero tempore, cum soluta nobis est eligendi
				optio cumque nihil impedit quo minus id quod maxime
				placeat facere possimus.</p>
		</div>
		<div class="col-md-3 footer-grid ">
			<h3>Menú</h3>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Tiendas</a></li>
				<li><a href="#">Categorias</a></li>
				<li><a href="#">Códigos cortos</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</div>
		<div class="col-md-3 footer-grid ">
			<h3>Servicios al Cliente</h3>
			<ul>
				<li><a href="#">Envíos</a></li>
				<li><a href="#">Términos y Condiciones</a></li>
				<li><a href="#">Preguntas Frecuentes</a></li>
				<li><a href="#">Contacto</a></li>
				<li><a href="#">Compras en Línea</a></li>

			</ul>
		</div>
		<div class="col-md-3 footer-grid">
			<h3>Mi Cuenta</h3>
			<ul>
				<li><a href="#">Iniciar Sesión</a></li>
				<li><a href="#">Registrarse</a></li>
				<li><a href="#">Lista de deseos</a></li>

			</ul>
		</div>
		<div class="clearfix"></div>
			<div class="footer-bottom">
				<img src="https://i.ibb.co/280fK5y/PN1B.png" alt="Hani Market" width="180px">
				<p class="fo-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
				<ul class="social-fo">
					<li><a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class=" ins"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
				<div class=" address">
					<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-home" aria-hidden="true"></i>1 cuadra al oeste del Mercado Municipal San Isidro, Contiguo a Farmacia Corazon de Maria.</p>
					</div>
					<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-phone" aria-hidden="true"></i>+1234 758 839 , +1273 748 730</p>
					</div>
					<div class="col-md-4 fo-grid1">
						<p><a href="mailto:info@hanimarket.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@hanimarket.com</a></p>
					</div>
					<div class="clearfix"></div>

					</div>
			</div>
		<div class="copy-right">
			<p> &copy; {{ anio }} ANI SOLUTIONS. All Rights Reserved | <a href="#"> ANI SOLUTIONS</a></p>
		</div>
	</div>
</div>
<!-- //footer-->
