<div class="header">

		<div class="container">

			<div class="logo">
				<img src="assets/images/PN1M.png" alt="Hani Market" width="180px">
			</div>
			<div class="head-t">
				<ul class="card">
					<li><a href="#" ><i class="fa fa-heart" aria-hidden="true"></i>Lista de deseos</a></li>
					<li><a href="#" ><i class="fa fa-user" aria-hidden="true"></i>Iniciar Sesión</a></li>
					<li><a href="#" ><i class="fa fa-arrow-right" aria-hidden="true"></i>Registrarse</a></li>
					<li><a href="#" ><i class="fa fa-file-text-o" aria-hidden="true"></i>Historial de pedidos</a></li>
					<li><a href="#" ><i class="fa fa-ship" aria-hidden="true"></i>Envíos</a></li>
				</ul>
			</div>

			<div class="header-ri">
				<ul class="social-top">
					<li><a href="#" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
					<li><a href="#" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a></li>
					<li><a href="#" class="icon instagram"><i class="fa fa-instagram" aria-hidden="true"></i><span></span></a></li>
				</ul>
			</div>

				<div class="nav-top">
					<nav class="navbar navbar-default">

					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>


					</div>
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav ">
							<li class=" active"><a href="index.html" class="hyper "><span>Home</span></a></li>

							<li class="dropdown ">
								<a href="#" class="dropdown-toggle  hyper" data-toggle="dropdown" ><span>Tiendas<b class="caret"></b></span></a>
								<ul class="dropdown-menu multi">
									<div class="row">
										<div class="col-sm-3">
											<ul class="multi-column-dropdown">

												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Farmacias</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Restaurantes</a></li>
												<li><a href="#"> <i class="fa fa-angle-right" aria-hidden="true"></i>Ferreterias</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Ropa y Zapatos</a></li>


											</ul>

										</div>
										<div class="col-sm-3">

											<ul class="multi-column-dropdown">
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Papeleria</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Electronicos</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Super Mercado</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Bodegas</a></li>
											</ul>

										</div>
										<div class="col-sm-3">

											<ul class="multi-column-dropdown">
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Comercio General</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Agropecuaria</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Comerciales</a></li>

											</ul>
										</div>
										<!--<div class="col-sm-3 w3l">
											<a href="#"><img src="assets/images/me.png" class="img-responsive" alt=""></a>
										</div>-->
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li class="dropdown">

								<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span> Categorias <b class="caret"></b></span></a>
								<ul class="dropdown-menu multi multi1">
									<div class="row">
										<div class="col-sm-3">
											<ul class="multi-column-dropdown">

												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Instrumentos musicales</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Productos para mascotas</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Software</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Deportes y aire libre</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Bricolaje y herramientas</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Juguetes y juegos</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Videojuegos</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Coche y Moto</a></li>


											</ul>

										</div>
										<div class="col-sm-3">

											<ul class="multi-column-dropdown">
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Belleza </a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Teléfonos móviles y accesorios</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Electrónica</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Arte</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Alimentación y bebidas</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Salud y cuidado personal</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Hogar y Cocina</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Diseño independiente</a></li>

											</ul>

										</div>
										<div class="col-sm-3">

											<ul class="multi-column-dropdown">
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Productos para bebé (excepto ropa y accesorios)</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Industria, empresa y ciencia</a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Electrodomésticos </a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Fiesta y Decoracion </a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Moda para Mujeres </a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Moda para Hombres </a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Moda para Niñas </a></li>
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Moda para Niños </a></li>


											</ul>
										</div>
										<!--<div class="col-sm-3 w3l">
											<a href="#"><img src="assets/images/me1.png" class="img-responsive" alt=""></a>
										</div>-->
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle hyper" data-toggle="dropdown" ><span>Ubicacion<b class="caret"></b></span></a>
								<ul class="dropdown-menu multi multi2">
									<div class="row">
										<div class="col-sm-3">
											<ul class="multi-column-dropdown">
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Danli</a></li>



											</ul>

										</div>
										<div class="col-sm-3">

											<ul class="multi-column-dropdown">
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Trojes</a></li>


											</ul>

										</div>
										<div class="col-sm-3">

											<ul class="multi-column-dropdown">
												<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>El Paraiso</a></li>

											</ul>
										</div>
										<!--<div class="col-sm-3 w3l">
											<a href="#"><img src="assets/images/me2.png" class="img-responsive" alt=""></a>
										</div>-->
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>

							<li><a href="#" class="hyper"> <span>Códigos</span></a></li>
							<li><a href="#" class="hyper"><span>Contáctenos</span></a></li>
						</ul>
					</div>
					</nav>
					 <div class="cart" >

						<span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
					</div>
					<div class="clearfix"></div>
				</div>

				</div>
</div>
